/* CORES PRINCIPAIS */

:root {

    --vermelho: #c1121f;
    --azul: #219ebc;
    --azul-claro: #8ecae6;
    --fundo: #f4f9ff;
    --branco: #ffffff;
    --texto: #1d3557;

}



/* FUNDO GERAL */

body {

    background: var(--fundo);
    color: var(--texto);

}



/* CABEÇALHO ESTILO PRAJIED */

header {

    background: linear-gradient(
        90deg,
        #c1121f,
        #219ebc
    );

    color:white;

    border-bottom:8px solid #8ecae6;

}



/* MENU */

nav a:hover {

    background:white;

    color:#219ebc;

}



/* TÍTULOS */

h2 {

    color:#c1121f;

}



/* BOTÕES */

button {

    background:#c1121f;

}



button:hover {

    background:#219ebc;

}



/* CARDS */

.card {

    background:white;

    border-top:8px solid #219ebc;

}



.card i {

    color:#c1121f;

}



/* PORTAL DE ESCUTA */

#escuta {

    background:

    linear-gradient(
        135deg,
        #219ebc,
        #8ecae6
    );

}



/* ÁREA DE EMOÇÕES */

.humor {

    background:#e8f7fc;

    border-radius:30px;

}



.emocoes button {

    background:#219ebc;

    font-size:35px;

}



.emocoes button:hover {

    background:#c1121f;

}



/* RODAPÉ */

footer {

    background:#219ebc;

}



/* MODO ESCURO */

.dark {

    background:#102a43;

    color:white;

}


.dark .card,
.dark .quiz-box,
.dark .pergunta {

    background:#183b56;

}